.row
  .small-12.columns
    %h1 Seasons

    - if @seasons.present?
      %table
        %thead
          %tr
            %th Name
            %th Period
            %th
        %tbody
          - @seasons.each do |season|
            %tr
              %td= season.name
              %td #{season.start} - #{season.expiry}
              %td= link_to 'Show', season
    - else
      %p No seasons.
