%header.page-header
  %h1 New Article <small>Post a new article</small>

%form.form-horizontal{action: '/admin/news/new', method: 'POST'}
  .control-group
    %label.control-label{for: 'title'} Title
    .controls
      %input{type: 'text', id: 'title', name: 'title', required: true}
  .control-group
    %label.control-label{for: 'body'} Body
    .controls
      %textarea.span6{id: 'body', name: 'body', required: true, rows: 12}
      .help-block
        You can use kramdown syntax (it is superset of Markdown syntax). See <a href="http://kramdown.rubyforge.org/syntax.html">kramdown Syntax</a> or <a href="http://kramdown.rubyforge.org/quickref.html">Quick Reference</a>.
  .control-group
    .controls
      %button.btn.btn-primary{type: 'submit'} Submit
      %button.btn{type: 'reset'} Clear
