%header.page-header
  %h1 List of Articles

- unless Post.exists?
  %p No posts are available.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Posted At
        %th Updated At
        %th{style: 'width: 75%'} Title
    %tbody
      - format = '%Y-%m-%d %H:%M'
      - Post.desc(:updated_at).each do |post|
        %tr
          %td= post.posted_at.strftime(format)
          %td= post.updated_at.strftime(format)
          %td
            %a{href: "/admin/news/#{post.id}"}= post.title
