%header.hero-unit
  %h1 Nilgiri <small>TEA party Score Registration Tool</small>

%article.row-fluid
  %section.span4.offset2
    %h1
      %a{href: '/score/register'} Score Registration
    %p Upload your score.
  %section.span4
    %h1
      %a{href: '/signup'} Sign up
    %p
      Please sign up first if you have no accounts yet.

%article.row-fluid
  %section.span4
    %h1 NEWS
  %section.span4
    %h1 Recent Score
  %section.span4
    %h1 Current Rank
