%header
  %h1 Nilgiri
  %p TEA party Score Registration Tool

%article
  %section
    %h1 Score Registration
    %p
      %a{href: '/score/register'} -> Score Registration
  %section
    %h1 Sign up
    %p
      If you have no accounts, please sign up first!
      %a{href: '/signup'} -> Sign up
