!!! 5
%html
  %head
    %title= @page_title ? @page_title + ' - Nilgiri' : 'Nilgiri'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{rel: 'stylesheet', type: 'text/css', href: stylesheet_path('application')}
  %body{id: @page_id}
    #wrap
      .container-fluid
        != yield
      #push
    %footer#footer.container-fluid
      %p#footer_credit.muted.credit.pull-right
        Copyright 2013 <a href="https://twitter.com/maytheplic">Mei Akizuru</a>.<br>
        Source code is available on github: <a href="https://github.com/mayth/nilgiri">mayth/nilgiri</a>.

    %script{src: javascript_path('application')}
