%header.page-header
  %h1 Score Registration

%form.form-horizontal{action: '/score/register', method: 'POST'}
  .control-group
    %label.control-label{for: 'id'} User ID
    .controls
      %input{id: 'id', name: 'id', type: 'text', required: true}
  .control-group
    %label.control-label{for: 'pass'} Password
    .controls
      %input{id: 'pass', name: 'pass', type: 'password', required: true}
  .control-group
    %label.control-label{for: 'machine'} Machine
    .controls
      %select{id: 'machine', name: 'machine'}
        - MACHINES.each do |k, v|
          %option{value: k}= v
  .control-group
    %label.control-label{for: 'difficulty'} Difficulty
    .controls
      %select{id: 'difficulty', name: 'difficulty'}
  .control-group
    %label.control-label{for: 'score'} Score
    .controls
      %input{type: 'text', id: 'score', name: 'score', required: true}
      %input{type: 'hidden', id: 'score_type', name: 'score_type', required: true}
  .control-group
    %label.control-label Registering For
    .controls
      %input{type: 'text', id: 'target', name: 'target', readonly: true, value: Time.now.strftime('%Y%m')}
  .control-group
    .controls
      %button.btn.btn-primary{type: 'submit'} Submit
      %button.btn{type: 'reset'} Clear
