%header.page-header
  %h1 Sign up

%form.form-horizontal{action: '/signup', method: 'POST'}
  .control-group
    %label.control-label{for: 'id'} User ID
    .controls
      %input{id: 'id', name: 'id', type: 'text', required: true, pattern: '[0-9a-zA-Z_]+'}
      .help-block
        This ID is only used for score registration.<br>
        You can use letters(abc...ABC...), numerals(012...789), and underscore(_).
  .control-group
    %label.control-label{for: 'pass'} Password
    .controls
      %input{id: 'pass', name: 'pass', type: 'password', required: true}
  .control-group
    %label.control-label{for: 'screen_name'} Screen Name
    .controls
      %input{id: 'screen_name', name: 'screen_name', type: 'text', placeholder: '(recommended)'}
      .help-block
        This name is shown in many places.<br>
        If you leave this form empty, we will use User ID as your screen name.
  .control-group
    %label.control-label{for: 'twitter_id'} Twitter ID
    .controls
      .input-prepend
        .add-on @
        %input{id: 'twitter_id', name: 'twitter_id', type: 'text', placeholder: '(optional)', required: false}
  .control-group
    .controls
      %button.btn.btn-primary{type: 'submit'} Sign up!
      %button.btn{type: 'reset'} Clear
