.row
  .small-12.columns
    %h1 Listing posts
    %table
      %tr
        %th Title
        %th Body
        %th Updated at
        %th

      - @posts.each do |post|
        %tr
          %td= post.title
          %td= truncate(post.body, length: 80)
          %td= post.updated_at
          %td= link_to 'Show', post
